<div class="cage-posts">
  <% page.posts.each(function (page) { %>
  <div class="cage-post">
    <a class="post-link" href="<%- url_for(page.path) %>">
      <% if (page.cover){ %>
      <div class="cage-post-cover">
        <img data-src="<%- page.cover %>" data-sizes="auto" alt="<%= page.title %>" class="lazyload cage-post-cover-image" />
        <div class="right-wrapper">
          <h1 class="cage-post-title"><%= page.title %></h1>
          <% if(page.excerpt) {%>
          <article class="excerpt"><%- image_auto_lazyload(page.excerpt) %></article>
          <% } %>
          <div class="cage-post-meta cage-rainbow">
            <span class="post-item">
              <mdui-icon name="calendar_month"></mdui-icon>
              <%- date(page.date, "YYYY年MM月DD日") %>
            </span>
            <span class="post-item">
              <mdui-icon name="edit"></mdui-icon>
              <%= wordcount(page.content) %> 字
            </span>
            <span class="post-item">
              <mdui-icon name="access_time"></mdui-icon>大概 <%=
              min2read(page.content, {cn: 250, en: 160}) %> 分钟
            </span>
          </div>
        </div>
      </div>
      <%} else{ %>
      <div class="cage-post-cover">
        <div class="take-place"></div>
        <div class="right-wrapper">
          <h1 class="cage-post-title"><%= page.title %></h1>
          <% if(page.excerpt) {%>
          <article class="excerpt"><%- image_auto_lazyload(page.excerpt) %></article>
          <% } %>
          <div class="cage-post-meta cage-rainbow">
            <span class="post-item">
              <mdui-icon name="calendar_month"></mdui-icon>
              <%- date(page.date, "YYYY年MM月DD日") %>
            </span>
            <span class="post-item">
              <mdui-icon name="edit"></mdui-icon>
              <%= wordcount(page.content) %> 字
            </span>
            <span class="post-item">
              <mdui-icon name="access_time"></mdui-icon>大概 <%=
              min2read(page.content, {cn: 250, en: 160}) %> 分钟
            </span>
          </div>
        </div>
      </div>
      <% } %>
    </a>
  </div>
  <div class="cage-hr"></div>
  <% }) %>
</div>
<% if (page.total > 1){ %>
<div class="cage-page-nav">
  <%- paginator({ prev_text: "<mdui-icon name='navigate_before'></mdui-icon>",
  next_text: "<mdui-icon name='navigate_next'></mdui-icon>", escape: false }) %>
</div>
<% } %>