<div class="cage-detail-post">
	<% if (theme.copyableCodeblock) { %>
		<%- css('css/code-copy') %>
		<%- js('js/code-copy') %>
	<% } %>
	<article>
		<% if (page.cover){ %>
		<div class="cage-post-cover">
			<img
				data-src="<%- page.cover %>"
				data-sizes="auto"
				alt="<%= page.title %>"
				class="lazyload cage-post-cover-image disabled-cage-image"
			/>
			<h1 class="cage-post-detail-title"><%= page.title %></h1>
		</div>
		<% } else { %>
		<div
			class="cage-post-cover">
			<img
				data-src="<%- theme.background.path %>"
				data-sizes="auto"
				alt="<%= page.title %>"
				class="lazyload cage-post-cover-image disabled-cage-image"
			/>
			<h1 class="cage-post-detail-title"><%= page.title %></h1>
		</div>
		<% } %>
		<div class="cage-post-meta cage-post-item-wrapper cage-rainbow" style="margin:10px 0!important;">
			<a class="post-item"><mdui-icon name="calendar_month"></mdui-icon><%- date(page.date, "YYYY年MM月DD日") %></a>
			<a class="post-item"><mdui-icon name="edit"></mdui-icon><%= wordcount(page.content) %> 字</a>
			<a class="post-item"><mdui-icon name="access_time"></mdui-icon>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
			<a id="busuanzi_container_page_pv" class="post-item">
				<mdui-icon name='calculate'></mdui-icon>
				本文总阅读量<span id="busuanzi_value_page_pv"></span>次
			</a>
		</div>
		<%- image_auto_lazyload(page.content) %>
	</article>

	<% if (!page.reprinted){ %>
	<%- partial('components/copyright') %>
	<% } %>
	<% if (page.layout == 'post') { %>
	<div class="cage-post-nav">
		<nav class="post-nav">
		<% let i = 0;%>
		<% site.posts.sort('date').map(function(post){ %>
			<% i++; %>
			<% if(post.title == page.title){ %>
				<!-- 在找到当前文章所在的 index -->
				<% let ix = 0;%>
				<% site.posts.sort('date').map(function(post){ %>
				<% ix++; %> 
					<% if(ix == i + 1 && post.title){ %>
						<!-- 下一篇文章 -->
						<div class="new">
							<span>下一章</span>
							<a href="<%- url_for(post.path) %>"> <%= post.title %></a>
						</div>
					<% } %>
					<% if(ix == i - 1 && post.title){ %>
						<!-- 上一篇文章 -->
						<div class="old">
							<span>上一章</span>
							<a href="<%- url_for(post.path) %>"> <%= post.title %></a>
						</div>
					<% } %>
				<% }) %>
			<% } %>
		<% }) %>
		</nav>
	</div>
	<% } %>
	<div class="cage-post-meta cage-rainbow">
		<% if (page.categories && page.categories.length){ %>
			<%- list_categories(page.categories, {
				show_count: false,
				class: 'cage-category ',
				style: 'none',
				transform(str) {
					return `<mdui-icon name="folder"></mdui-icon>` + str
				},
				separator: ''
			}) %>
		<% } %>
		<% if (page.tags && page.tags.length){ %>
			<%- list_tags(page.tags, {
				show_count: false,
				class: 'cage-tag ',
				style: 'none',
				transform(str) {
					return `<mdui-icon name='local_offer'></mdui-icon>` + str
				},
				separator: ' '
			}) %>
		<% } %>
	</div>
	<% if (page.comments){ %>
	<div class="cage-post-footer">
		<%- partial('components/comments/gitalk') %>
		<%- partial('components/comments/giscus') %>
	</div>
	<% } %>
</div>
